  <section class="">
  <!-- Footer -->
  <footer class="text-center text-dark" style="background-color: rgba(0, 0, 0, 0.02);">
  
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center text-dark" font-family="AustinBold">
          <span class="me-3" >Register for free</span>
          <%= button_to "Sign up", new_user_registration_path, class:"btn btn-outline-light btn-rounded text-dark", :method => :get %>
          
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.03);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>