<nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: #0a4275">
  <a class="navbar-brand text-white" href="#">CHATON CHAT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Mon panier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Mes chats et moi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled text-white" href="#">Se connecter /  se déconnecter</a>
      </li>
    </ul>
  </div>
</nav>