<div class="hero-slider">
  <div class="slider-item th-fullpage hero-area" style="background-image: url(https://c1.wallpaperflare.com/preview/44/156/841/cat-white-cat-lay-pets.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <h2 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">NOTRE PROMESSE</h2>
          <h3 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">____<br>Des chatons, des chats et des ronrons <br>__<br> Rien que pour vous</h3><br>
        </div>
      </div>
    </div>
  </div>