<div class="hero-slider">
  <div class="slider-item th-fullpage hero-area" style="background-image: url(https://c1.wallpaperflare.com/preview/44/156/841/cat-white-cat-lay-pets.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
        <svg width="135px" height="29px" viewBox="0 0 170 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
								font-family="AustinBold, Austin" font-weight="bold">
								<g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
          <h2 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1" font-size="40"
          font-family="AustinBold, Austin">NOTRE PROMESSE</h2>
          </g> </g> </svg>
          <svg width="135px" height="29px" viewBox="0 0 170 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
								font-family="AustinBold, Austin" font-weight="bold">
								<g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
          <h2 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1" font-size="40"
          font-family="AustinBold, Austin">____<br>Des chatons, des chats et des ronrons <br>__<br> Rien que pour vous</h3><br></h2>
          </g> </g> </svg>
        </div>
      </div>
    </div>
  </div>