<div class="hero-slider">
  <div class="slider-item th-fullpage hero-area" style="background-image: url(https://c1.wallpaperflare.com/preview/44/156/841/cat-white-cat-lay-pets.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <h2 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</h2>
          <h3 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h3><br>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Shop Now</a>
        </div>
      </div>
    </div>
  </div>